<div class='container'>
  <div class='row'>
    <div class='col-md-10 text-center'>
      <footer role="contentinfo">
        <p><small>Ergon Mehmeti "ergoni@hotmail.com"</small></p>
      </footer>
    </div>
  </div>
</div>